@page "/"
@inject Services.NotificationHubClient HubClient

<h3>Live Events</h3>

<ul>
    @foreach (var evt in _events)
    {
        <li>@evt</li>
    }
</ul>

@code {
    private readonly List<string> _events = [];

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("es");
        HubClient.OnEventReceived += (name, payload) =>
        {
            _events.Add($"{DateTime.Now:T} - {name}: {payload}");
            InvokeAsync(StateHasChanged);
        };

        await HubClient.StartAsync();
        await HubClient.JoinBoardAsync(1);
    }
    
    
    
    
    
}